---
import Link from "src/components/Link.astro";
import Layout from "src/layouts/BaseLayout.astro";
import idSrc from "src/assets/photo-id.jpg";
---

<Layout title="Mon parcours">
  <section class="flex justify-center">
    <img src={idSrc} alt="Photo Alexandre Dos Reis" class="rounded-full" />
  </section>
  <section>
    <h2>Parcours Pro</h2>
    <p>
      Après mon lycée dans le Val d'Oise. J'ai été diplomé en 2011 de <Link
        href="https://www.esra.edu">l'ESRA</Link
      > Paris et j'ai travaillé pendant 7 années pour <Link
        href="https://www.gum.paris">Green United Music</Link
      > et <Link href="https://prod.generalpop.com/fr">Pop Productions</Link>
      dans la production sonore en tant qu'ingénieur du son.
    </p>
    <p>
      En 2019, j'ai décidé d'effectuer une reconversion professionelle en
      informatique et j'ai débuté un <b
        >BTS Service Informatique aux Organisations Option Réseau</b
      > en alternance à Caen. J'ai passé ces 2 années au sein d'<Link
        href="https://www.universpaie.com/">Univers Paie</Link
      > du groupe <Link href="https://www.hr-path.com/fr">HR-Path</Link> comme Technicien
      d'exploitation.
    </p>
    <p>
      Puis en 2021, j'ai débuté une licence en <b
        >Développement d'application Web & Mobile</b
      > dispensée au lycée Sup'Avenir à Caen. Cette formation est conduite par le
      <Link href="https://www.cnam.fr">CNAM</Link>. Durant cette année, j'ai été
      employé par <Link href="https://www.volvotrucks.fr/fr-fr"
        >Volvo Trucks</Link
      > à Blainville-Sur-Orne en tant que Développeur digital & IT.
    </p>
    <p>
      Le détail de mon parcours est disponible sur <Link
        href="https://fr.linkedin.com/in/Linklexandre-dos-reis-469708133"
        >LinkedIn</Link
      >.
    </p>
  </section>
  <!-- <section>
    <h2>Parcours Perso</h2>
    <p>
      Je suis passionné de musique et plus particulièrement de <Link
        href="https://fr.wikipedia.org/wiki/Synth%C3%A9tiseur_modulaire"
        >synthèse modulaire</Link
      >. Vous pouvez écouter mes <Link
        href="https://soundcloud.com/user-271400891"
        >compositions réalisées</Link
      > avec un synthétiseur modulaire Eurorack.
    </p>
  </section> -->
</Layout>
