---
import type { MarkdownHeading } from "astro";
import { reorganizeHeadingsInTree } from "src/utils/reorganize-headings-in-tree";
import RecursiveNavElement from "./ResursiveNavElement.astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<h2 class="text-sm">Table des matières</h2>
<RecursiveNavElement headings={reorganizeHeadingsInTree(headings)} />
