---
type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { href, ...attrs } = Astro.props;

let isExternal = false;

if (typeof href === "string") {
  isExternal = href?.startsWith("http");
}
---

{
  isExternal ? (
    <a {...attrs} href={href} target="_blank" rel="noreferrer noopener">
      <slot />
    </a>
  ) : (
    <a {...attrs} href={href}>
      <slot />
    </a>
  )
}
