---
import type { MarkdownHeading } from "astro";

interface NestedMH extends MarkdownHeading {
  depth: number;
  slug: string;
  text: string;
  children?: NestedMH[];
}

interface Props {
  headings: NestedMH[];
}

const { headings } = Astro.props;

const table: { [index: number]: string } = {
  1: "ml-0",
  2: "ml-0",
  3: "ml-6",
  4: "ml-6",
  5: "ml-9",
  6: "ml-12",
};
---

<ul class="list-none overflow-y-auto nav nav-pills menu-sidebar">
  {
    headings.map((h) => (
      <li class="mb-[.4rem]">
        <Link
          href={`#${h.slug}`}
          class={`nav-link text-gray-500 hover:text-white ${
            table[h.depth]
          } block`}
        >
          {h.text}
        </Link>
      </li>
    ))
  }
</ul>
