---
import { allTypes, type AllTechType } from "src/utils/techs-list";

interface Props {
  techs: AllTechType[];
}

const { techs } = Astro.props;
---

{
  techs.map((t) => (
    <span class={"bg-gray-700 py-1 px-2 m-1 rounded-xl whitespace-nowrap text-gray-50 font-semibold"}>
      {allTypes[t]?.label}
    </span>
  ))
}
