---
import { techList, type TechType } from "src/utils/techs-list";

interface Props {
  techs: TechType[];
  colorize?: boolean;
}

const { techs, colorize = true } = Astro.props;
---

{
  techs.map((t) => (
    <span
      class={`${
        colorize ? techList[t]?.color : `bg-gray-700`
      } py-1 px-2 m-1 rounded-xl whitespace-nowrap text-gray-50 font-semibold`}
    >
      {techList[t]?.label}
    </span>
  ))
}
