---
import Header from "src/components/Header.astro";
import type { MarkdownLayoutProps } from "astro";
import type { Article } from "src/utils/types";

type Props = MarkdownLayoutProps<Article>;

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter: fm, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
  </head>
  <body>
    <Header />
    <main class="px-8 mx-auto max-w-3xl">
      <div>{fm.date} {url}</div>
      <slot />
    </main>
    <footer></footer>
    <style is:global>
      @import "../styles/global.css";
    </style>
  </body>
</html>
